/* ESTILO GENERAL */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

/* ENCABEZADO */
header {
    background-color: #222;
    color: aquamarine;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

/* MENÚ DE NAVEGACIÓN */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav a {
    color: aquamarine;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

/* SECCIONES DEL INDEX */
section {
    padding: 20px;
}

h2 {
    color: #333;
}

/* FORMULARIO */
form input, form button {
    display: block;
    margin: 10px 0;
    justify-content: center;
    padding: 10px;
}

/* GALERÍA DE MASCOTAS */
.galeria {
    gap: 20px;
    padding: 20px;
}

.mascota {
    background: white;
    padding: 15px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.mascota:hover {
    transform: translateY(-5px);
}

/* IMÁGENES DE MASCOTAS */
.mascota-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s;
}

.mascota-img:hover {
    transform: scale(1.05);
}
